body{
    background-color: bisque;
}
.box1{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    border-radius: 50% 50% 0% 50%;
    background: red;z-index: 1;

    position: absolute;
    animation: 8s 2s forwards box1 ;
}
@keyframes box1{
    0%{
        margin-left: 0px;
        margin-top: 0px;

    }
    12%{
        margin-left: 600px;
        margin-top: 0px;

    }
    24%{
        margin-left: 1300px;
        margin-top: 0px;
    }
    36%{
        margin-left: 1300px;
        margin-top: 230px;
    }
    48%{
        margin-left: 1300px;
        margin-top: 460px;
    }
    60%{
        margin-left: 600px;
        margin-top: 460px;

    }
    72%{
        margin-left: 0px;
        margin-top: 460px;
    }
    84%{
        margin-left: 0px;
        margin-top: 230px;

    }
    100%{

    }

}
.box2{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    border-radius: 0% 0% 50% 50%;
    background: violet;
    position: absolute;
    animation: 1s 2s forwards box2 ;
}
@keyframes box2{
    from{
        margin-left: 0px;
        margin-top: 0px;
    }
    to{
        margin-left: 600px;
        margin-top: 0px;
    }
}
.box3{
border: 2px solid black;
width: 200px;
height: 200px;
border-radius:50%;
background:green;
position: absolute;
animation: 2s 2s forwards box3 ;
}
 @keyframes box3{
    0%{
        margin-left: 0px;
        margin-top: 0px;
    }
    50%{
        margin-left: 600px;
        margin-top: 0px;

    }
    100%{
        margin-left: 600px;
        margin-top: 230px;
    }
}
.box4{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    border-radius: 50% 50% 50% 0%;
    background: yellow;
    position: absolute;
    animation: 2s 2s forwards box4;
    }
    @keyframes box4{
        0%{
            margin-left: 0px;
            margin-top: 0px;
        }
        50%{
            margin-left: 600px;
            margin-top: 0px;
    
        }
        100%{
            margin-left: 1300px;
            margin-top: 0px;
        }
    }
 .box5{
        border: 2px solid black;
        width: 200px;
        height: 200px;
        border-radius: 50% 0% 0% 50%;
        background: skyblue;
        position: absolute;
        animation: 3s 2s forwards box5 ;
        }
    @keyframes box5{
        0%{
            margin-left: 0px;
            margin-top: 0px;
        }
        33%{
            margin-left:600px;
            margin-top: 0px;
        }
        66%{
            margin-left: 1300px;
            margin-top: 0px;
        }
        100%{
            margin-top: 230px;
            margin-left: 1300px;
        }
    }
.box6{
        border: 2px solid black;
        width: 200px;
        height: 200px;
        border-radius: 0% 50% 50% 50%;
        background: red;
        position: absolute;
        animation: 4s 2s forwards box6 ;
        }
     @keyframes box6{
            0%{
                margin-left: 0px;
                margin-top: 0px;
            }
            25%{
                margin-left: 600px;
                margin-top: 0px;
            }
            50%{
                margin-left: 1300px;
                margin-top: 0px;
            }
            75%{
                margin-left: 1300px;
                margin-top: 230px;
            }
            100%{
                margin-left: 1300px;
                margin-top: 460px;
            }

        }
.box7{
            border: 2px solid black;
            width: 200px;
            height: 200px;
            border-radius: 50% 50% 0% 0%;
            background: violet;
            position: absolute;
            animation: 5s 2s forwards box7
                   }
    @keyframes box7{
                0%{
                    margin-left: 0px;
                    margin-top: 0px;
                }
                20%{
                    margin-left: 600px;
                    margin-top: 0px;
                }
                40%{
                    margin-left: 1300px;
                    margin-top:0px;
                }
                60%{
                    margin-left: 1300px;
                    margin-top: 230px;
                }
                80%{
                    margin-left: 1300px;
                    margin-top: 460px;
                }
                100%{
                    margin-left: 600px;
                    margin-top: 460px;
                }
}
.box8{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    border-radius: 50% 0% 50% 50%;
    background: yellow;
    position: absolute;
    animation: 6s 2s forwards box8
}
@keyframes box8{
    0%{margin-left: 0px;
       margin-top: 0px;
    }
    16%{
        margin-left: 600px;
        margin-top: 0px; 
    }
    32%{
        margin-left: 1300px;
        margin-top:0px;
    }
    48%{
        margin-left: 1300px;
        margin-top: 230px; 
    }
    65%{
        margin-left: 1300px;
        margin-top: 460px; 
    }
    82%{
        margin-left: 600px;
        margin-top: 460px;
    }
    100%{
        margin-left: 0px;
        margin-top: 460px;

    }
}
.box9{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    border-radius: 0% 50% 50% 0%;
    background:skyblue;
    position: absolute;
    animation: 7s 2s forwards box9
}
  @keyframes box9{
    0%{
        margin-left: 0px;
        margin-top: 0px;
    }
    14%{
        margin-left: 600px;
        margin-top: 0px;  
    }
    28%{
        margin-left: 1300px;
        margin-top:0px;
    }
    42%{
        margin-left: 1300px;
        margin-top: 230px; 
    }
    56%{
        margin-left: 1300px;
        margin-top: 460px;
    }
    70%{
        margin-left: 600px;
        margin-top: 460px;
    }  
    85%{
        margin-left: 0px;
        margin-top: 460px;  
    }
    100%{
        margin-left: 0px;
        margin-top: 230px;
    }
} 